// Page Portfolio

// FILTER

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  background-color: $accent-bg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-title-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// PORTFOLIO

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
  &__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }

  &__item {
    padding: 20px 24px;
    background: $primary-bg-color;
    border-right: 1px solid $portfolio-border-color;
    border-left: 1px solid $portfolio-border-color;
    border-bottom: 1px solid $portfolio-border-color;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
}

.portfolio__link {
  display: inline-block;

  transition: box-shadow $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
