.checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  &__label {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 3px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}

.checkbox__link {
  display: inline-block;
  position: relative;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $accent-color;

  &::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 5px;
    display: block;
    height: 1px;
    width: 115px;
    background-color: $accent-color;
  }
}

.checkbox {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
  }
  &__icon {
    fill: transparent;
  }
}

.checkbox input {
  &:checked + .checkbox__label .checkbox__wrapper {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
  }

  &:checked + .checkbox__label .checkbox__wrapper .checkbox__icon {
    fill: $white-title-color;
  }

  &:checked ~ .checkbox__label {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
