.main {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
