$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg-color: #ffffff;
$accent-color: #2196f3;
$secondary-bg-color: #2f303a;
$accent-bg-color: #f5f4fa;
$border-color: #ececec;
$white-title-color: #ffffff;
$portfolio-border-color: #eeeeee;
$logo-black-color: #000000;
$clients-color: #afb1b8;
$white-color: #ffffff;
$hero-bg: #c4c4c4;
$order-btn: #188ce8;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

